<div class="row mt-5">
  <div class="col-12">
    <div class="card card-principal">
      <img class="card-img-principal" src="../../../../../assets/images/Logo masterClass.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-text text-center">TRANSFORMACIÓN</h5>
        <h5 class="card-title text-center">DIGITAL</h5>
        <p class="card-text text-center">Impartida por el Mtro. Rosalindo Zamorano</p>
        <div class="details mb-5">
            <p class="text">Martes 08 de Junio</p>
            <p class="text">Vía ZOOM</p>
        </div>
        <a href="#" class="btn btn-principal">Registrarme ahora</a>
      </div>
    </div>
  </div>
</div>