                
  <div class="card-form">
    <h3 class="text-center bg-color-primary">No te pierdas la oportunidad</h3>
    <h3 class="text-center bg-color-primary mb-5">¡Regístrate ahora!</h3>
    <form>
      <div class="form-row">
        <div class="form-group col-12">
          <label for="inputAddress">Nombre</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="">
        </div>
        <div class="form-group col-12">
          <label for="inputAddress2">Apellido</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="">
        </div>
        <div class="form-group col-12">
          <label for="inputPhone">Teléfono o celular</label>
          <input type="text" class="form-control" id="inputPhone" placeholder="">
        </div>
        <div class="form-group col-12">
          <label for="inputAddress2">Empresa</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="">
        </div>
        <div class="form-group col-12">
          <label for="inputPhone">Cargo</label>
          <input type="text" class="form-control" id="inputPhone" placeholder="">
        </div>
        <div class="form-group col-12">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="">
        </div>    
      </div>
        <div class="form-group col-12 mt-4">
          <label for="inputState">Entidad Federativa</label>
          <select id="inputState" class="form-control">
            <option selected>Selecciona tu Entidad Federativa...</option>
            <option>...</option>
          </select>
        </div>
        <div class="form-group col-12 mt-5 mb-5">
          <button type="submit" class="btn btn-form">Registrarme</button>
        </div>
    </form>
  </div>