<div class="bg-white section-white">        
    <div class="row mt-5 mb-5">
      <div class="col-12">
        <h2 class="text-center bg-color-secondary mt-5">Evento gratuito dirigido a profesionales de la industria</h2>
      </div>
    </div>
  
    <div class="row mt-5 mb-5">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">            
          <p class="paragraph-container fw-bold text-center border-b">"Nuestro mercado es global, pero nuestra competencia también esta de ese tamaño"</p>              
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">              
          <p class="paragraph-container fw-bold text-center border-b">"Agilidad en los procesos, vantaja competitiva en desarrollo de productos y eficiente aplicación de los recursos con mejor ROI"</p>              
      </div>             
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center">              
          <p class="paragraph-container fw-bold text-center border-b">"La Transformación Digital provoca que todo sea más rápido y eficiente"</p>              
      </div>       
    </div>        
</div>