<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <app-header></app-header>    
    
      <div class="container first_container">
            <app-banner></app-banner>            
            <app-card-principal></app-card-principal>                                  
       </div>
       
       <div class="container">
          <app-about></app-about>    
       </div>

       <app-details></app-details>

       <div class="container">
        <div class="row mt-5">
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <app-info></app-info>
          </div>                    
          <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5">
            <app-form></app-form>
          </div>        
        </div>
      </div> 

    <app-footer></app-footer>

      <h2 class="text-center m-5">Consumo de API Héroes</h2>
      
    <app-card></app-card>

</body>
</html> 

