  <div class="row principal">
    <div class="col-12 text-center mt-5">
      <h1 class="text-white title-container">¿Eres Director o Gerente de Empresa, de Ingeniería o de Tecnologías de Información?</h1>
    </div>
    <div class="col-12 text-center mt-5 content">
      <h2 class="subtitle-container">En esta Masterclass podrás contar con una <b>GUÍA</b> del proyecto para su transformación. Además, contarás con el <b>ANÁLISIS</b> de procesos, selección de <b>TECNOLOGÍAS</b> y su <b>ESTRATEGIA</b> para implementarla.</h2>
    </div>                    
  </div>

  <div class="row">
    <div class="col-12 banner-section">          
    </div>
  </div>
