
  <div class="row">
      <div class="col-12">
        <h4 class="text-center mt-5 mb-5 fw-bold">La Transformación Digital provoca que todo sea más rápido y eficiente</h4>
        <h5 class="text-center mt-5 mb-5 text-container fw-bold">"La capacidad de adaptarse a la nueva realidad es la clave de la Transformación Digital"</h5>                      
      </div>
      <div class="col-12 iframe-video">                          
        <iframe src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>                 
      </div>
      <div class="col-12 mb-5">
        <h5 class="text-center mt-5 mb-3 text-container bg-color-secondary">Descubre entre otros temas:</h5>
        <ul>
            <li>
              <img src="../../../../../assets/images/Estrategia.png" alt="" class="m-1">
              Estrategia
            </li>
            <li>
              <img src="../../../../../assets/images/Tecnología.png" alt=""  class="m-1">
              Selección de tecnologías
            </li>
            <li>
              <img src="../../../../../assets/images/Análisi de procesos.png" alt=""  class="m-1">
              Análisis de procesos en la Industria 4.0
            </li>
            <li>
              <img src="../../../../../assets/images/Hoja de ruta.png" alt=""  class="m-1">
              Hoja de ruta para una implementación exitosa
            </li>
            <li>
              <img src="../../../../../assets/images/Qué hacer.png" alt=""  class="m-1">
              Qué hacer para obtener el máximo aprovechamiento
            </li>
        </ul>
      </div>                    
  </div>