<h3 class="text-center mt-5">Impartido por</h3>
        <h3 class="text-center mb-3">Mtro. Rosalindo Zamorano</h3>
        
        <div class="col-12 carousel-mobile mb-3 bg-color">
          <div id="carouselReview" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselReview" data-bs-slide-to="0" class="active bg-dark" aria-current="true"></button>
              <button type="button" data-bs-target="#carouselReview" data-bs-slide-to="1" class="bg-dark"></button>
              <button type="button" data-bs-target="#carouselReview" data-bs-slide-to="2" class="bg-dark"></button>
            </div>
            <div class="carousel-inner border-1">
              <div class="carousel-item active p-5">
                <div class="card card-container">
                  <img class="card-img-top mt-5" src="../../../../../assets/images/Estrella.png" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text text-container text-center mb-3">Amplia experiencia como Director de Tegnologías de la Información</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item  p-5">
                <div class="card card-container">
                  <img class="card-img-top mt-3 mb-3" src="../../../../../assets/images/Estrella.png" alt="Card image cap">
                  <div class="card-body">
                    <p class="card-text text-container mb-5">Ingeniero en proyectos de implementación de ERP BAAN V y diseño e implementación de red de comunicaciones y telecomunicaciones CIDESI</p>
                  </div>
                </div>  
              </div>
              <div class="carousel-item  p-5">
                <div class="card card-container">
                  <img class="card-img-top mt-3 mb-3" src="../../../../../assets/images/Estrella.png" alt="Card image cap">
                  <div class="card-body">
                    <ul class="mb-5">
                      <li class="p-0">
                        <p>Gerente de cómputo y comunicaciones</p>
                      </li>
                      <li class="p-0">
                        <p>Gerente de desarrollo de software</p>
                      </li>
                      <li class="p-0">
                        <p>Desarrollo de sistemas</p>
                      </li>
                      <li class="p-0">
                        <p>Administrador de redes y quipos de cómputo</p>
                      </li>
                    </ul>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 carousel-mobile">
          <div id="carouselDetails" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselDetails" data-bs-slide-to="0" class="active bg-dark" aria-current="true"></button>
              <button type="button" data-bs-target="#carouselDetails" data-bs-slide-to="1" class="bg-dark"></button>
              <button type="button" data-bs-target="#carouselDetails" data-bs-slide-to="2" class="bg-dark"></button>
              <button type="button" data-bs-target="#carouselDetails" data-bs-slide-to="3" class="bg-dark"></button>
            </div>
            <div class="carousel-inner border-1">
              <div class="carousel-item active p-5">
                  <img src="images/Flecha.png" alt="">Administracion de servicios TI, recursos informáticos y contratos de servicios en sede principal y 5 subsedes (INTRANET)
              </div>
              <div class="carousel-item  p-5">
                <img src="images/Flecha.png" alt="">Consolidación de implementación del ERP BANN V
              </div>
              <div class="carousel-item  p-5">
                <img src="images/Flecha.png" alt="">Diseño y construcción de los MDF's de la INTRANET
              </div>
              <div class="carousel-item  p-5">
                 <img src="images/Flecha.png" alt="">Migración de operación de Data Center Comercial
              </div>
            </div>
          </div>
        </div>

        <div class="row m-5 card-desktop">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
              <div class="card card-container">
                <img class="card-img-top mt-5" src="../../../../../assets/images/Estrella.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-container text-center mb-3">Amplia experiencia como Director de Tegnologías de la Información</p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 card-desktop">         
              <ul  class="m-0">
                <li class="mt-3 mb-3 p-0">
                    <img src="../../../../../assets/images/Flecha.png" alt="">Administracion de servicios TI, recursos informaticos y contratos de servicios en sede principal y 5 subsedes (INTRANET)
                </li>
                <li  class="mt-3 mb-3 p-0">
                    <img src="../../../../../assets/images/Flecha.png" alt="">Consolidación de implementación del ERP BANN V
                </li>
                <li  class="mt-3 mb-3 p-0">
                    <img src="../../../../../assets/images/Flecha.png" alt="">Diseño y construcción de los MDF's de la INTRANET
                </li>
                <li class="mt-3 mb-3 p-0">
                    <img src="../../../../../assets/images/Flecha.png" alt="">Migración de operación de Data Center Comercial
                </li>
            </ul>
            </div>                    
        </div>
      
        <div class="row m-5 card-desktop">
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
              <div class="card card-container">
                <img class="card-img-top mt-3 mb-3" src="../../../../../assets/images/Estrella.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text text-container mb-5">Ingeniero en proyectos de implementación de ERP BAAN V y diseño e implementación de red de comunicaciones y telecomunicaciones CIDESI</p>
                </div>
              </div>              
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
              <div class="card card-container">
                <img class="card-img-top mt-3 mb-3" src="../../../../../assets/images/Estrella.png" alt="Card image cap">
                <div class="card-body">
                  <ul class="mb-5">
                    <li class="p-0">
                      <p>Gerente de cómputo y comunicaciones</p>
                    </li>
                    <li class="p-0">
                      <p>Gerente de desarrollo de software</p>
                    </li>
                    <li class="p-0">
                      <p>Desarrollo de sistemas</p>
                    </li>
                    <li class="p-0">
                      <p>Administrador de redes y quipos de cómputo</p>
                    </li>
                  </ul>
                </div>
              </div>              
            </div>                                  
        </div>